.panel-heading {
    background-color: #d80505;
}

.panel-body  {
    word-break: break-all;
}

.panel-footer {
    background-color: #000000;
}

.list-group {
    margin-top: 10px;
}

.list-group-item {
    background-color: #d9d9d9;
}